body {
  background: #f2f2f7;
  font-family: sans-serif;
  padding: 10px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}